<h1>{{title}}</h1>

{{#if message}}
    <p style="color: red;">{{message}}</p>
{{/if}}

<div class="col-sm-6 col-md-6 col-sm-offset-3">
    <form action="/book/delete" method="post">
        <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input type="text" name="isbn" class="form-control" id="isbn" value="{{book.isbn}}" readonly>

            <label for="bookname">Book Name:</label>
            <input type="text" name="bookname" class="form-control" id="bookname" value="{{book.bookname}}" readonly>

            <label for="subject">Subject:</label>
            <input type="text" name="subject" class="form-control" id="subject" value="{{book.subject}}" readonly>

            <label for="author">Author:</label>
            <input type="text" name="author" class="form-control" id="author" value="{{book.author}}" readonly>

            <label for="publisher">Publisher:</label>
            <input type="text" name="publisher" class="form-control" id="publisher" value="{{book.publisher}}" readonly>

            <label for="copies">Copies:</label>
            <input type="text" name="copies" class="form-control" id="copies" value="{{book.copies}}" readonly>

            <button type="submit" class="button button1">DELETE BOOK</button>
        </div> 
    </form> 
</div>

<!-- Debugging Output -->
<p>Debug Info: {{book.bookname}}</p>
