<ul class="list-group">
    {{!-- {{#each result}}
    <li class="list-group-item">{{this.result}}</li>
    {{/each}} --}}
    <h3>{{message}}</h3>
    {{#if result}}
    <li class="list-group-item">ISBN: {{result.isbn}}</li>
    <li class="list-group-item">NAME: {{result.bookname}}</li>
    <li class="list-group-item">SUBJECT: {{result.subject}}</li>
    <li class="list-group-item">AUTHER: {{result.auther}}</li>
    <li class="list-group-item">PUBLISHER: {{result.publisher}}</li>
    <li class="list-group-item">COPIES: {{result.copies}}</li>
    {{/if}}




</ul>