<body>

    <div class="container mt-4">
        <h1 class="mb-4">{{message}}</h1>

        {{#if result.length}}
        <div class="row">
            {{#each result}}
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold; color: #007bff;">{{this.id}} {{this.bookname}}</h5>
                        <p class="card-text">
                            <strong>ISBN:</strong> {{this.isbn}}<br>
                            <strong>SUBJECT:</strong> {{this.subject}}<br>
                            <strong>AUTHOR:</strong> {{this.author}}<br>
                            <strong>PUBLISHER:</strong> {{this.publisher}}<br>
                            <strong>COPIES:</strong> {{this.copies}}
                        </p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>No books available.</p>
        {{/if}}
    </div>

</body>
